# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# database
/prisma/db.sqlite
/prisma/db.sqlite-journal
db.sqlite

# prisma generated client
/generated

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem
# AI workspace files
.claude
CLAUDE.md
.claude/
.codex
.codex/
tasks.md

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
# do not commit any .env files to git, except for the .env.example file. https://create.t3.gg/en/usage/env-variables#using-environment-variables
.env
.env*.local
.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# idea files
.idea

#visual studio project files
.vs
*.csproj
*.sln
Properties
bin
obj

#video uploads
tmp_uploads/

#virtual environment
venv/
venv310/

#context of project
usecases.md